@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: 'Roboto';
  src: url('path/to/font/Roboto-Regular.ttf') format('truetype');

}

body {
  font-family: 'Roboto', sans-serif;

}
body {
  background: #dbecf8;
  background-image: radial-gradient(#d9f1fc 5%, transparent 0);
  background-size: 35px 35px;
  
}



.container {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  margin: 50px 500px;
  padding: 40px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  background-color: #ebf1f6d8;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 0;
  color: #1976d2;
  /* Theme color */
}

p {
  margin-top: 0;
  color: #444343;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfbf3;
}

select {
  width: 100%;
}

button[type="submit"] {
  background-color: #1976d2;
  /* Theme color */
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 250px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #20204d;
  /* Darker shade for hover */
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.link-container p {
  margin-right: 5px;
  margin-bottom: 0;
}

.link-container a { 
  color: #271776;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-container a:hover {
  color: #110c2f;
}

.form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}